<diV class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto d-block mt-5">
     <div>
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"></ngx-spinner>
      <form class="col-4 mx-auto d-block"(ngSubmit)="login(monformlog.value)" #monformlog="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom d'utilisateur</label>
          <input type="email" class="form-control" required minlength="4" id="exampleInputEmail1"
          name="username" aria-describedby="emailHelp" #username="ngModel" ngModel>
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger">
            <div *ngIf="username.errors.required">
              Ce champ ne peut être vide.
            </div>
            <div *ngIf="username.errors.minlength">
              Merci d'entrer un email valide et de minimum 4 caractères.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" required name="password" #password="ngModel" id="exampleInputPassword1" ngModel>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Ce champ ne peut être vide.
            </div>
            <div *ngIf="password.errors.minlength">
              Merci d'entrer un mot de passe valide de minimu 4 caractès.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary col-12">Submit</button>
      </form>
     </div>
    </div>
  </div>
</diV>
